:root {
/*colors*/
--color-white: #fff;
--color-beige: #EEE9E9;
--color-black: #000000;
--color-grey: #666666;
--color-thistle1: #FFE1FF;
--color-thistle3: #CDB5CD;
/*units*/
--units-xs: 10px;
--units-s: 20px;
--units-m: 40px;
--units-l: 80px;
--units-xl: 160px;
/*fonts*/
--font-size-primary: 15px;
--font-size-secondary: 13px;
--font-size-thirdly: 10px;
--font-primary: "Poppins (Regular)";
--font-secondary: "Oben Sans (Regular)";
--font-thirdly: "Sunflower (Bold)";
--font-text: "Lato (Regular)"
}
body {
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
width: 100%;
height: 789px;





-